<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Bella Moda es una tienda de moda femenina que ofrece las últimas tendencias en ropa y accesorios." />
		<meta name="keywords" content="moda, ropa, accesorios, moda femenina, moda urbana, moda casual, moda formal, moda deportiva, moda de verano, moda de invierno, moda de primavera, moda de otoño" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Valkia - Catálogo de Indumentaria Femenina</title>
	</head>
	<body class="min-h-screen bg-gray-50">
		<slot />
	</body>
</html>

<style is:global>
	html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
</style>
